<div [class]="'card border-bottom card-shadow ' + borderColor">
  <div class="card-body">
    <div class="px-3 py-3">
      <div class="media">
        <div class="media-body text-left">
          <h3 [class]="textColor + ' mb-1'">{{ count | async }}</h3>
          <span>{{ title }}</span>
        </div>
        <div class="media-right align-self-center">
          <i-feather [name]="icon" [class]="textColor + ' font-large-2 float-right'"></i-feather>
        </div>
      </div>
    </div>
  </div>
</div>
