<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
    <stt-dashboard-card [count]="userCount" [title]="'Users'" [color]="'warning'" [icon]="'users'"></stt-dashboard-card>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
    <stt-dashboard-card [count]="cardCount" [title]="'RFID Added'" [color]="'info'" [icon]="'info'"></stt-dashboard-card>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 mt-2">
    <stt-dashboard-card [count]="boundCount" [title]="'RFID Connected'" [color]="'success'" [icon]="'rss'"></stt-dashboard-card>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <h3>Notifications</h3>
    <ul>
      <li class="mt-1" *ngFor="let n of notifications$ | async">
        {{ n }}
      </li>
    </ul>
  </div>
</div>
