<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" class="text-info">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Map</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-lg-12">
    <mat-tab-group>
      <mat-tab label="School Bus current location">
        <mat-form-field class="m-2">
          <mat-select [(ngModel)]="selectedSchool" (selectionChange)="onSelectSchool($event)" placeholder="Select school">
            <mat-option *ngFor="let i of schools | async" [value]="i.code">
              {{ i.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button (click)="searchCurrentLocation()" color="primary" [disabled]="!selectedSchoolCode" class mat-raised-button>
          <i-feather name="search"></i-feather>
          Search
        </button>
      </mat-tab>
      <mat-tab label="School Bus historic location">
        <mat-form-field class="m-2">
          <mat-select [(ngModel)]="selectedSchool" (selectionChange)="onSelectSchool($event)" placeholder="Select school">
            <mat-option *ngFor="let i of schools | async" [value]="i.code">
              {{ i.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="m-2">
          <mat-select [(ngModel)]="selectedDeviceCode" (selectionChange)="onSelectBus($event)" placeholder="Select School Bus">
            <mat-option *ngFor="let i of buses | async" [value]="i.deviceCode">
              {{ i.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="m-2">
          <input
            matInput
            [max]="maxDate"
            [min]="minDate"
            (click)="fromToggle.datepicker.open()"
            readonly
            [(ngModel)]="fromDate"
            [matDatepicker]="pickerFrom"
            placeholder="From"
          />
          <mat-datepicker-toggle matSuffix #fromToggle [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="m-2">
          <input
            matInput
            [max]="maxDate"
            (click)="untilToggle.datepicker.open()"
            [min]="getMinDate()"
            readonly
            [(ngModel)]="untilDate"
            [matDatepicker]="pickerUntil"
            placeholder="Until"
          />
          <mat-datepicker-toggle matSuffix #untilToggle [for]="pickerUntil"></mat-datepicker-toggle>
          <mat-datepicker #pickerUntil disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- <div> -->
        <button
          (click)="searchHistoricLocation()"
          color="primary"
          [disabled]="!selectedDeviceCode || !fromDate || !untilDate"
          mat-raised-button
        >
          <i-feather name="search"></i-feather>
          Search
        </button>
        <!-- </div> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12">
    <div #gmap class="gmap"></div>
  </div>
</div>
